.p-quote-card {
  border: 3px solid black;
  border-radius: 16px;
  margin-bottom: 1em;
  padding: 1em;

  &__ribbon {}

  &__quote {
    font-size: 2.4rem;
    margin-bottom: 1em;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__celebrity {
    font-style: italic;
  }

  &__btn-space {}
}
